/* Estilize o título "Agenda de Contatos" */
h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

/* Estilize o formulário */
#contato-form {
  width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

/* Estilize as etiquetas e campos de entrada do formulário */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilize o botão "Adicionar Contato" */
#adicionar-contato,
#salvar-contato {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilize a tabela de contatos */
#lista-contatos {
    border-radius: 5px;
    width: 900px;
    margin: auto;
    border-collapse: collapse;
    background-color: #fff;
}

/* Estilize as células da tabela */
#lista-contatos td {
   padding: 10px;
   
}

/* Estilize as células da tabela - cabeçalho (se houver) */
#lista-contatos th {
    background-color: #007bffc6;
    color: #000000;
    font-weight: bold;
    padding: 10px;
   
}

/* Estilize as células da tabela - linhas alternadas */
#lista-contatos tr:nth-child(even) {
    background-color: #007bff3a;
}

/* Estilize as células da tabela - hover */
#lista-contatos tr:hover {
    background-color: #e0e0e0;
}